body {
    height: 100vh; 
    width: 100vw; 
    overflow: hidden; 
    background-color: white; 
}

/* @font-face {
    font-family: ;
    src: url();
} */

.main {
    display: flex; 
    width: 100%;
    height: 100%; 
}

.column-left {
    display: flex; 
    justify-content: center;

    background-image: url("./assets/images/background-image.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 

    width: 35%;
    height: 100%;
    color: #FFF;
}

.img-credit {
    margin-top: auto;
    margin-bottom: 10px; 
}

a {
    color: inherit; 
}

.column-right {
    display: flex; 
    flex-direction: column; 
    width: 65%; 
    background-color: #EEE;
}

.top-card {
    height: 40%; 
    padding: 50px;
    font-weight: 700; 
}

.form-card {
    height: 30%; 
    padding: 50px;
    background-color: #FFF;
}

.button-card {
    height: 30%; 
}