* {
    box-sizing: border-box;
}

body {
    height: 100vh; 
    width: 100vw; 
    margin: 0;
    padding: 0; 
    overflow: hidden; 
    background-color: white; 
}

@font-face {
    font-family: my-cool-font;
    src: url("./assets/fonts/Norse-Bold.otf");
}

.main {
    display: flex; 
    width: 100%;
    height: 100%; 
}

.column-left {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-image: url("./assets/images/background-image.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 

    width: 35%;
    height: 100%;
    color: #FFF;
}

.logo-banner {
    width: 100%; 
    height: fit-content;

    display: flex; 
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 35%;
    padding: 10px; 
}

.odin-img {
    width: 25%; 
}

.odin-text {
    font-family: my-cool-font, sans-serif; 
    font-size: 4.5em; 
    margin-top: 20px;
}

a {
    color: inherit; 
}

.img-credit {
    font-size: 0.8em; 
}

.column-right {
    display: flex; 
    flex-direction: column; 
    width: 65%; 
    height: 100%;
    background-color: #FAFAFA;
}

.column-right > * {
    padding: 0 5%;
}

.top-card {
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;

    height: 33%; 
    width: 80%; 
    padding-bottom: 5%; 
}

.form-card {
    height: 40%; 
    width: 100%;
    background-color: #FFF;
    box-shadow: 2px 5px 10px #E5E7EB; 
}

.form-main-div {
    display: flex; 
    flex-direction: column; 
    width: 80%;  
    height: 100%; 
    gap: 10%;
}

.form-divs {
    display: flex; 
    gap: 20%;
}

.form-div {
    display: flex; 
    flex-direction: column;
}

label {
    text-transform: uppercase; 
    font-size: 0.8em; 
}

input {
    width: 200px; 
    height: 25px; 
    border: 1px solid #E5E7EB;
    border-radius: 5px; 
    padding: 5px 10px; 
}

input:focus {
    border: 1px solid blue; 
    box-shadow: 2px 5px 10px #E5E7EB; 
}

.error {
    border: 1px solid red; 
}

.error-msg {
    margin: 0;
    font-size: 0.8em; 
    color: red; 
}

.button-card {
    height: 33%; 
    width: 80%; 
    padding-top: 5%;
}

.btn {
    background-color: #596D48;
    color: #FFF; 
    padding: 15px 40px;
    border: none; 
    border-radius: 6px; 
    font-size: 15px;
    font-weight: 900; 
    cursor: pointer; 
}

.btn:hover {
    box-shadow: 2px 5px 10px #E5E7EB; 
}

.login {
    color: #596D48;
    text-decoration: none;
    font-weight: 700;
}