body {
    height: 100vh; 
    width: 100vw; 
    overflow: hidden; 
    background-color: white; 
}

/* @font-face {
    font-family: ;
    src: url();
} */

.main {
    display: flex; 
    width: 100%;
    height: 100%; 
}

.column-left {
    display: flex; 
    justify-content: center;

    background-image: url("./assets/images/background-image.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 

    width: 35%;
    height: 100%;
    color: #FFF;
}

.img-credit {
    margin-top: auto;
    margin-bottom: 10px; 
}

a {
    color: inherit; 
}

.column-right {
    display: flex; 
    flex-direction: column; 
    width: 65%; 
    background-color: #EEE;
}

.column-right > * {
    padding: 10%;
}

.top-card {
    height: 40%; 
    font-weight: 700; 
    /* padding-top: ???;  */
}

.form-card {
    height: 30%; 
    padding: 5% 10%;
    background-color: #FFF;
}

.form-inputs {
    display: flex; 
    gap: 10%; 
}

.form-label {
    /* font-weight: 900; 
    font-size: 20px;  */
    display: block; 
}

.form-input {
    display: block; 
    /* margin-top: 5%;  */
    padding: 0.2rem; 
    border: 1px solid #E5E7EB; 
    border-radius: 0.2rem; 
    color: #333; 
    /* font-size: 1.2rem;  */
    width: 100%; 
}

.form-input:focus {
    outline: none; 
    border-color: blue; 
    /* box-shadow: ???; */
}

.button-card {
    height: 30%; 
}

.btn {
    background-color: #596D48;
    color: #FFF; 
    padding: 15px 30px;
    border: none; 
    border-radius: 6px; 
    font-size: 15px;
}